.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.httr-oauth
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/4834CE2C
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/49F8CAF0
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/4C574CEC
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/773E86BB
.Rproj.user (Selective Sync Conflict 1)/F801533D/pcs/files-pane.pper
.Rproj.user (Selective Sync Conflict 1)/F801533D/pcs/packages-pane.pper
.Rproj.user (Selective Sync Conflict 1)/F801533D/pcs/source-pane.pper
.Rproj.user (Selective Sync Conflict 1)/F801533D/pcs/packages-pane.pper
.Rproj.user (Selective Sync Conflict 1)/F801533D/pcs/source-pane.pper
.Rproj.user (Selective Sync Conflict 1)/F801533D/pcs/windowlayoutstate.pper
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/773E86BB
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/4C574CEC
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/49F8CAF0
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/paths
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/patch-chunk-names
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/84B19215-srmexamnotes/1/s/cy09qnq4t6z96/000002.csv
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/84B19215-srmexamnotes/1/s/cy09qnq4t6z96/000002.csv
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/84B19215-srmexamnotes/1/s/cvlaqqxxtxxgm/000002.csv
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/84B19215-srmexamnotes/1/s/csetup_chunk/000002.csv
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/84B19215-srmexamnotes/1/s/chunks.json
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/84B19215-srmexamnotes/1/s/c422p0pysm06m/000003.snapshot
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/84B19215-srmexamnotes/1/s/c422p0pysm06m/000003.png
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/84B19215-srmexamnotes/1/s/c422p0pysm06m/000003.metadata
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/84B19215-srmexamnotes/1/s/c422p0pysm06m/000002.csv
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/84B19215-srmexamnotes/1/s/c34k5zgpmsz2q/000006.csv
.Rproj.user (Selective Sync Conflict 1)/shared/notebooks/84B19215-srmexamnotes/1/F801533DC28F7AB4/chunks.json
.Rproj.user (Selective Sync Conflict 1)/F801533D/sources/prop/INDEX
.Rproj.user (Selective Sync Conflict 1)/F801533D/sources/prop/D1CFE5A9
.Rproj.user (Selective Sync Conflict 1)/F801533D/sources/prop/81B33BC9
.Rproj.user (Selective Sync Conflict 1)/F801533D/sources/prop/15EDD046
.Rproj.user (Selective Sync Conflict 1)/F801533D/sources/per/t/E5F1E019-contents
.Rproj.user (Selective Sync Conflict 1)/F801533D/sources/per/t/E5F1E019
.Rproj.user (Selective Sync Conflict 1)/F801533D/sources/per/t/0B92DAB6-contents
.Rproj.user (Selective Sync Conflict 1)/F801533D/sources/per/t/0B92DAB6
.Rproj.user (Selective Sync Conflict 1)/F801533D/saved_source_markers
.Rproj.user (Selective Sync Conflict 1)/F801533D/rmd-outputs
.Rproj.user (Selective Sync Conflict 1)/F801533D/pcs/workbench-pane.pper
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/4834CE2C
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/49F8CAF0
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/4C574CEC
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/773E86BB
