.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.httr-oauth
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/4834CE2C
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/49F8CAF0
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/4C574CEC
.Rproj.user (Selective Sync Conflict)/CA021352/sources/prop/773E86BB
